---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import PostCard from "../../components/PostCard.astro";
import { SITE_DESCRIPTION, SITE_TITLE, POSTS_PER_PAGE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .content-wrapper {
        display: flex;
        gap: 2rem;
      }
      .post-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .sidebar {
        width: 140px;
        padding: 1rem;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section class="content-wrapper">
        <div class="sidebar">
          <h2>Tags</h2>
          <ul>
            <li>Tag 1</li>
            <li>Tag 2</li>
            <li>Tag 3</li>
          </ul>
        </div>
        <ul class="post-list">
          {
            posts.map((post) => (
              <li>
                <PostCard
                  id={post.id}
                  title={post.data.title}
                  description={post.data.description}
                  date={post.data.date}
                  updated={post.data.updated}
                />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
