---
import { _t } from "@/config";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title={_t.notFound.title} description={_t.notFound.desc}>
  <main id="main-content">
    <div class="not-found">
      <span class="not-found-404">404</span>
      <h1 class="not-found-title">{_t.notFound.title}</h1>
      <p class="not-found-desc">{_t.notFound.desc}</p>
      <p class="not-found-search"><a href="/search">{_t.search.title}</a></p>
    </div>
  </main>
</BaseLayout>

<style>
  .not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .not-found-404 {
    font-family: var(--font-mono);
    font-size: 4rem;
    /* background-color: var(--color-100); */
  }
  .not-found-title {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .not-found-desc {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: var(--color-700);
  }
  .not-found-search {
    font-size: 1.25rem;
  }
</style>
