---
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";
import { SITE } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import getDescription from "../utils/getDescription";
import postFilter from "../utils/postFilter";

const posts = (await getCollection("blog"))
  .filter(postFilter)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.postsPerHomepage);
---

<BaseLayout title={SITE.title} description={SITE.description}>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <PostCard
              id={post.id}
              title={post.data.title}
              description={post.data.description || getDescription(post.body || "")}
              date={post.data.date}
              updated={post.data.updated}
            />
          </li>
        ))
      }
    </ul>
    <div class="view-all">
      <a href="/posts/">View All Posts</a>
    </div>
  </section>
</BaseLayout>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .view-all {
    margin-top: 2rem;
    text-align: center;
  }
  .view-all a {
    text-decoration: none;
  }
</style>
