---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PostCard from "../components/PostCard.astro";
import { SITE_DESCRIPTION, SITE_TITLE, POSTS_PER_HOMEPAGE } from "../consts";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, POSTS_PER_HOMEPAGE);
---

<BaseLayout>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <PostCard
                  id={post.id}
                  title={post.data.title}
                  description={post.data.description}
                  date={post.data.date}
                  updated={post.data.updated}
                />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</BaseLayout>
