---
import PostCard from "@/components/PostCard.astro";
import { SITE } from "@/consts";
import { _t } from "@/i18n/lang";
import BaseLayout from "@/layouts/BaseLayout.astro";
import getDescription from "@/utils/getDescription";
import getBlogPosts from "@/utils/getPosts";

const posts = await getBlogPosts();
const featuredPosts = posts.filter((post) => post.data.featured);
const recentPosts = posts.filter((post) => !post.data.featured).slice(0, SITE.postsPerHomepage);
---

<BaseLayout title={SITE.title} description={SITE.description}>
  <main id="main-content">
    <section>
      <h1 class="sr-only">{SITE.title}</h1>
      {
        featuredPosts.length > 0 && (
          <>
            <h2>{_t.common.featuredPost}</h2>
            <ul>
              {featuredPosts.map((post) => (
                <li>
                  <PostCard
                    id={post.id}
                    title={post.data.title}
                    description={post.data.description || getDescription(post.body || "")}
                    date={post.data.date}
                    updated={post.data.updated}
                  />
                </li>
              ))}
            </ul>
            <hr />
          </>
        )
      }
      <h2>{_t.common.recentPost}</h2>
      <ul class="post-list">
        {
          recentPosts.map((post) => (
            <li>
              <PostCard
                id={post.id}
                title={post.data.title}
                description={post.data.description || getDescription(post.body || "")}
                date={post.data.date}
                updated={post.data.updated}
              />
            </li>
          ))
        }
      </ul>
      <div class="view-all">
        <a href="/posts">{_t.common.viewAllPosts}</a>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  h2 {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: var(--font-weight-light);
    color: var(--color-700);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  hr {
    margin: 2rem 0 3rem 0;
  }
  .view-all {
    margin-top: 2rem;
    text-align: center;
  }
  .view-all a {
    text-decoration: none;
  }
  .post-list {
    gap: 1rem;
  }
</style>
