---
import { SITE } from "@/consts";
import { _t } from "@/i18n/lang";
import { SOCIALS } from "@/socials";

const today = new Date();
---

<footer>
  &copy;&nbsp;{today.getFullYear()}&nbsp;{SITE.author}. All rights reserved.
  <div class="social-links">
    {
      SOCIALS.map((social) => (
        <a href={social.href} title={social.title} target="_blank" rel="noopener noreferrer">
          <span class="sr-only">{social.title}</span>
          <social.icon />
        </a>
      ))
    }
  </div>
</footer>

<style>
  footer {
    padding: 1em 1em 6em 1em;
    color: var(--color-700);
    text-align: center;
    font-size: 0.75em;
    font-weight: var(--font-weight-light);
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: var(--color-900);
  }
  .social-links a:hover {
    color: var(--color-900);
  }
</style>
