---
import IconLeft from "../assets/icons/chevron-left.svg";
import IconRight from "../assets/icons/chevron-right.svg";
import { _t } from "../i18n/lang";

interface Props {
  currentPage: number;
  totalPages: number;
  baseUrl: string;
}

const { currentPage, totalPages, baseUrl } = Astro.props;
const hasPrevPage = currentPage > 1;
const hasNextPage = currentPage < totalPages;
const prevPageUrl = currentPage - 1 === 1 ? baseUrl : `${baseUrl}/${currentPage - 1}`;
const nextPageUrl = `${baseUrl}/${currentPage + 1}`;
---

<>
  {
    totalPages > 1 && (
      <nav class="pagination">
        {hasPrevPage ? (
          <a href={prevPageUrl}>
            <IconLeft /> {_t.pagination.prev}
          </a>
        ) : (
          <span class="disabled">
            <IconLeft /> {_t.pagination.prev}
          </span>
        )}

        <span class="current">
          {currentPage} / {totalPages}
        </span>

        {hasNextPage ? (
          <a href={nextPageUrl}>
            {_t.pagination.next} <IconRight />
          </a>
        ) : (
          <span class="disabled">
            {_t.pagination.next} <IconRight />
          </span>
        )}
      </nav>
    )
  }
</>

<style>
  .pagination {
    font-size: 0.85rem;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    /* align-items: center; */
  }
  .pagination a,
  .pagination span {
    text-decoration: none;
    display: flex;
  }
  .pagination .disabled {
    color: var(--text-muted);
  }
</style>
