---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import TagPill from "../components/TagPill.astro";
import { slugifyStr } from "../utils/slugify";

type Props = CollectionEntry<"blog">["data"];

const { title, description, date, updated, toc, tags } = Astro.props;
---

<BaseLayout>
  <head>
    <BaseHead title={title} description={description || ""} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
        padding: 2em 1em 0 1em;
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 3em;
        padding: 1em 0;
        /* text-align: center; */
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
        font-weight: 400;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
        font-size: 0.9em;
      }
      .last-updated-on {
        font-style: italic;
      }
      .content-wrapper {
        display: flex;
        gap: 2em;
        position: relative;
      }
      .main-content {
        font-weight: 400;
        padding-bottom: 2em;
        flex: 1;
      }
      .sidebar {
        font-weight: 300;
        font-size: 0.85em;
        position: fixed;
        top: 200px;
        right: 40px;
        width: 160px;
        max-height: calc(100vh - 140px);
        overflow-y: auto;
      }
      .sidebar .back-to-top a {
        text-decoration: none;
      }
      @media (max-width: 1200px) {
        .sidebar {
          position: static;
          width: 100%;
          max-height: none;
        }
      }
      .tag-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        padding-left: 0;
        list-style-type: none;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.36.4/tocbot.min.css"
      integrity="sha512-/ANQiHMqpRl+E0zEAd250N21OOmJsYbhiJWY0Y8yG0TII47yZn1+gDNobMlf+h/FTyImprLXYgXbX3bCYyq/vg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      /* tocbot */
      :global(.toc > .toc-list) {
        padding-left: 0;
      }
      :global(.toc-link) {
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
      }
      :global(.toc-link::before) {
        display: none;
      }
    </style>
  </head>

  <body>
    <Header />
    <main data-pagefind-body>
      <article>
        <div class="prose">
          <div class="title">
            <h1>{title}</h1>
            <div class="date" data-pagefind-ignore>
              <FormattedDate date={date} />
              {
                updated && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updated} />
                  </div>
                )
              }
            </div>
          </div>
          <div class="content-wrapper">
            <div class="main-content">
              <slot />
            </div>
            <div class="sidebar" data-pagefind-ignore>
              {toc && <div class="toc" />}
              {toc && <hr />}
              <div class="back-to-top">
                <a href="#top">Back to top</a>
              </div>
            </div>
          </div>
          <hr />
          <ul class="tag-list" data-pagefind-ignore>
            {
              tags &&
                tags.map((tag) => (
                  <li>
                    <TagPill id={slugifyStr(tag)} name={tag} />
                  </li>
                ))
            }
          </ul>
        </div>
      </article>
    </main>
    <Footer />
    <script is:inline>
      window.initTocbot = function () {
        window.tocbot.init({
          tocSelector: ".toc",
          contentSelector: ".main-content",
          headingSelector: "h2, h3, h4",
          hasInnerContainers: true,
          scrollSmoothDuration: 250,
          headingsOffset: 20,
          scrollSmoothOffset: -20,
          scrollHandlerTimeout: 10,
        });
      };
    </script>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.36.4/tocbot.min.js"
      integrity="sha512-BZUSsJAPNtkd+kdY/bD7hvQKZ5zlgWt++KGy/Pa/5uEJNgs0jZ6JaX6MuclRUanowuxmhb5S3LRPEa3QmrUVfA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      onload="window.initTocbot()"></script>
  </body>
</BaseLayout>
