---
import type { CollectionEntry } from "astro:content";
import IconLeft from "../assets/icons/chevron-left.svg";
import IconRight from "../assets/icons/chevron-right.svg";
import FormattedDate from "../components/FormattedDate.astro";
import TagPill from "../components/TagPill.astro";
import { slugifyStr } from "../utils/slugify";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"] & {
  prevPost: CollectionEntry<"blog"> | null;
  nextPost: CollectionEntry<"blog"> | null;
};

const { title, description, categories, date, updated, toc, tags, prevPost, nextPost } =
  Astro.props;
---

<BaseLayout title={title} description={description || ""}>
  <article>
    <div class="prose">
      <div class="title">
        <h1>{title}</h1>
        <span class="date">
          <FormattedDate date={date} />
          {
            updated && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updated} />
              </div>
            )
          }
        </span>
        <span class="categories">
          {
            categories &&
              categories.map((category) => (
                <a href={`/categories/${slugifyStr(category)}`}>
                  <span>{category}</span>
                </a>
              ))
          }
        </span>
      </div>
      <div class="content-wrapper">
        <div class="main-content" data-pagefind-body>
          <slot />
        </div>
        <aside class="sidebar">
          {toc && <div class="toc" />}
          {toc && <hr />}
          <div class="back-to-top">
            <a href="#top">Back to top</a>
          </div>
        </aside>
      </div>
      <hr />
      <ul class="tag-list">
        {
          tags &&
            tags.map((tag) => (
              <li>
                <TagPill id={slugifyStr(tag)} name={tag} />
              </li>
            ))
        }
      </ul>
      <nav class="post-nav">
        {
          nextPost && (
            <a href={`/posts/${nextPost.id}`} class="post-nav-next">
              <span class="post-nav-label">
                <IconLeft />
              </span>
              <span class="post-nav-title">{nextPost.data.title}</span>
            </a>
          )
        }
        {
          prevPost && (
            <a href={`/posts/${prevPost.id}`} class="post-nav-prev">
              <span class="post-nav-title">{prevPost.data.title}</span>
              <span class="post-nav-label">
                <IconRight />
              </span>
            </a>
          )
        }
      </nav>
    </div>
  </article>
</BaseLayout>

<style>
  main {
    width: calc(100% - 2em);
    max-width: 100%;
    margin: 0;
    padding: 2em 1em 0 1em;
  }
  .prose {
    width: var(--content-width);
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
  }
  .title {
    margin-bottom: 3em;
    padding: 1em 0;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
    font-weight: 400;
  }
  .date {
    margin-bottom: 0.5em;
    color: var(--text-muted);
    font-size: 0.9em;
  }
  .last-updated-on {
    font-style: italic;
  }
  .content-wrapper {
    display: flex;
    gap: 2em;
    position: relative;
  }
  .main-content {
    font-weight: 400;
    padding-bottom: 2em;
    flex: 1;
    min-width: 0;
  }
  .categories {
    margin-bottom: 1.25em;
    font-size: 0.9em;
  }
  .categories a {
    text-decoration: none;
  }
  .categories::before {
    content: "|";
    display: inline-block;
    width: 8px;
  }
  .sidebar {
    font-weight: 300;
    font-size: 0.85em;
    position: fixed;
    top: 200px;
    right: 40px;
    width: 160px;
    max-height: calc(100vh - 140px);
    overflow-y: auto;
  }
  .sidebar .back-to-top a {
    text-decoration: none;
  }
  @media (max-width: 1024px) {
    .sidebar {
      display: none;
    }
  }
  @media (max-width: 768px) {
    main {
      padding: 1em 1em 0 1em;
    }
  }
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding-left: 0;
    list-style-type: none;
  }
  .post-nav {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 2em;
  }
  .post-nav a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  .post-nav a:hover {
    border-color: var(--text-muted);
  }
  .post-nav-prev {
    margin-left: auto;
    text-align: right;
  }
  .post-nav-label {
    font-size: 0.8em;
    color: var(--text-muted);
  }
  .post-nav-title {
    font-size: 0.95em;
  }
  /* tocbot */
  :global(.toc > .toc-list) {
    padding-left: 0;
  }
  :global(.toc-link) {
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
  }
  :global(.toc-link::before) {
    display: none;
  }
</style>

<script is:inline>
  window.initTocbot = function () {
    window.tocbot.init({
      tocSelector: ".toc",
      contentSelector: ".main-content",
      headingSelector: "h2, h3, h4",
      hasInnerContainers: true,
      scrollSmoothDuration: 250,
      headingsOffset: 20,
      scrollSmoothOffset: -20,
      scrollHandlerTimeout: 10,
    });
  };
</script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.36.4/tocbot.min.js"
  integrity="sha512-BZUSsJAPNtkd+kdY/bD7hvQKZ5zlgWt++KGy/Pa/5uEJNgs0jZ6JaX6MuclRUanowuxmhb5S3LRPEa3QmrUVfA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  onload="window.initTocbot()"></script>
