---
import type { CollectionEntry } from "astro:content";
import Pagination from "@/components/Pagination.astro";
import PostCard from "@/components/PostCard.astro";
import TagPill from "@/components/TagPill.astro";
import { SITE } from "@/consts";
import { _t } from "@/i18n/lang";
import BaseLayout from "@/layouts/BaseLayout.astro";
import getDescription from "@/utils/getDescription";
import getUniqueCategories from "@/utils/getUniqueCategories";
import getUniqueTags from "@/utils/getUniqueTags";

interface Props {
  posts: CollectionEntry<"blog">[];
  allPosts: CollectionEntry<"blog">[];
  currentPage: number;
  totalPages: number;
  paginationBase: string;
  activeTagId?: string;
  activeCategoryId?: string;
}

const { posts, allPosts, currentPage, totalPages, paginationBase, activeTagId, activeCategoryId } =
  Astro.props;
const categories = getUniqueCategories(allPosts);
const tags = getUniqueTags(allPosts);
---

<BaseLayout title={SITE.title} description={SITE.description}>
  <div class="page-layout">
    <main id="main-content" class="content-wrapper">
      <section>
        <h1 class="sr-only">{_t.posts.title}</h1>
        <ul class="post-list">
          {
            posts.map((post) => (
              <li>
                <PostCard
                  id={post.id}
                  title={post.data.title}
                  description={post.data.description || getDescription(post.body || "")}
                  date={post.data.date}
                  updated={post.data.updated}
                />
              </li>
            ))
          }
        </ul>
        <Pagination currentPage={currentPage} totalPages={totalPages} baseUrl={paginationBase} />
      </section>
    </main>
    <aside class="sidebar">
      <h2>{_t.tags.title}</h2>
      <ul class="tags">
        {
          tags.map((tag) => (
            <li>
              <TagPill
                id={tag.id}
                name={tag.name}
                count={tag.count}
                active={tag.id === activeTagId}
              />
            </li>
          ))
        }
      </ul>
      {categories.length > 0 && <h2>{_t.categories.title}</h2>}
      <ul class="categories">
        {
          categories.map((category) => (
            <li>
              <a
                href={category.id === activeCategoryId ? "/posts" : `/categories/${category.id}`}
                class:list={[{ active: category.id === activeCategoryId }]}
                data-astro-prefetch
              >
                <span>{category.name}</span>
                <span class="count">{category.count}</span>
              </a>
            </li>
          ))
        }
      </ul>
      <h2>{_t.archives.title}</h2>
      <a class="archives-link" href="/archives">{_t.archives.desc}</a>
    </aside>
  </div>
</BaseLayout>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .page-layout {
    position: relative;
    max-width: var(--content-width);
    margin: 0 auto;
  }
  .content-wrapper {
    margin: 0 auto;
  }
  .post-list {
    gap: 1rem;
  }
  .sidebar {
    position: absolute;
    left: calc(100% + 6rem);
    top: 0;
    width: 170px;
    padding: 3em 1em;
  }
  .sidebar h2 {
    margin: 0 0 0.75rem 0;
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
  }
  .sidebar h2:not(:first-child) {
    margin-top: 2.5rem;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 0.5rem;
  }
  .categories li {
    margin-bottom: 0.4rem;
  }
  .categories a {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    text-decoration: none;
    padding: 0.15rem 0;
    color: var(--color-700);
    padding: 0.15rem 0.45rem;
    border-radius: 4px;
  }
  .categories a.active,
  .categories a:hover {
    color: var(--color-900);
    background-color: var(--color-300);
  }
  .categories .count {
    font-family: var(--font-mono);
    opacity: 0.6;
  }
  .archives-link {
    font-size: 0.85rem;
    text-decoration: none;
    color: var(--color-700);
  }
  .archives-link:hover {
    color: var(--color-900);
  }
  @media (max-width: 1280px) {
    .sidebar {
      left: calc(100% + 1rem);
      width: 120px;
    }
  }
  @media (max-width: 1024px) {
    .sidebar {
      display: none;
    }
  }
</style>
